In [5]:
from database.deps import createAdminClient, DATABASE_ID, TRANSACTIONSUMMARY_COLLECTION_ID
from appwrite.services.databases import Databases
from appwrite.permission import Permission
from appwrite.role import Role
from database.transaction_dao import TransactionDao
# from models.receive.transactions import Transactions_ing, Transactions_revolut, Transactions_shinha
import secrets
from appwrite.query import Query
import pandas as pd

In [23]:
def get_conversion_rate(from_currency, to_currency):
    currency = {0:  "EUR", 1: "KRW", 2: "KES", 3: "GBP"}

    from_currency = currency[from_currency]
    to_currency = currency[to_currency]

    exchange_table = pd.read_csv('/Users/sginikwo/goldy-personal/co-finance-backend/database/exchange_rates.csv', index_col=0)
    # Return 1 if both currencies are the same
    if from_currency == to_currency:
        return 1
    else:
        return exchange_table.loc[from_currency, to_currency]

In [3]:
import os
os.chdir("/Users/sginikwo/goldy-personal/co-finance-backend")

In [42]:
from database.deps import createAdminClient, DATABASE_ID, TRANSACTIONSUMMARY_COLLECTION_ID
from appwrite.services.databases import Databases
from appwrite.permission import Permission
from appwrite.role import Role
from database.transaction_dao import TransactionDao
# from models.receive.transactions import Transactions_ing, Transactions_revolut, Transactions_shinha
import secrets
from appwrite.query import Query
import pandas as pd
# from models.send.userToken import get_insert_data

client = createAdminClient()
db = Databases(client)

class Summary:
  def __init__(self):
    self.db_id = DATABASE_ID
    self.collection_id = TRANSACTIONSUMMARY_COLLECTION_ID

  
  def save(self):
    # currency = {0: "EUR", 1: "KRW", 2:  "KES", 3: "GBP", 4: "USD"}
    # base = currency[user_data[0]]
    # target = currency[user_data[1]]

    transactions = TransactionDao().get_transactions(user_data="67618a6b0015560030e5")

    # for row in data:
    #   pass

    # result = db.list_documents(
    #         database_id= self.db_id,
    #         collection_id= self.collection_id,
    #         queries=[
    #         Query.equal("base", base),  # Add double quotes around base
    #         Query.equal("target", target),  # Add double quotes around target
    #     ]
    #     )
    
    # rate = result["documents"][0]["rate"]
    return transactions

  

sum = Summary()

transactions = sum.save()



df = pd.DataFrame.from_dict(transactions)

# display(df)

for trans in transactions:
  print()
  print(trans)
  print()

{'id': '56f8f9854e624a05', 'date': '2024-12-05', 'recipient': 'AAB INZ TIKKIE', 'currency': 0, 'amount': '100.00', 'transactionType': 'Transfer', 'transactionDetails': 'Name: AAB INZ TIKKIE Description: Tikkie ID 000937426748, Goldy, Van AE INIKWO, NL02ABNA0624031594 IBAN: NL13ABNA0506417344 Reference: 937426748 Date/time: 05-12-2024 15:42:36 Value date: 05/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '205.44', '$id': '8e3f53f7eb11997e', '$createdAt': '2024-12-29T02:30:47.595+00:00', '$updatedAt': '2024-12-29T02:30:47.595+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '6202b9a4a10f2ec5', 'date': '2024-12-05', 'recipient': 'Revolut**0411* Dublin IRL', 'currency': 0, 'amount': '-150.00', 'transactionType': 'Online Banking', 'transactionDetails': 'Card sequence no.: 901 04/12/2024 20:43 Transaction: C00101 Term: --- Google Pay Value date: 05/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '105.44', '$id': 'f50a54f185f81bae', '$createdAt': '2024-12-29T02:30:47.760+00:00', '$updatedAt': '2024-12-29T02:30:47.760+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '8b5d11cd5ed972f9', 'date': '2024-12-04', 'recipient': 'Oranje Spaarrekening', 'currency': 0, 'amount': '150.00', 'transactionType': 'Online Banking', 'transactionDetails': 'From Oranje spaarrekening K17737720 Value date: 04/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '255.44', '$id': '2394c426b4fff577', '$createdAt': '2024-12-29T02:30:48.006+00:00', '$updatedAt': '2024-12-29T02:30:48.006+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': 'dd34a898f82e5b8f', 'date': '2024-12-03', 'recipient': 'NETFLIX INTERNATIONAL B.V.', 'currency': 0, 'amount': '-18.99', 'transactionType': 'SEPA direct debit', 'transactionDetails': 'Name: NETFLIX INTERNATIONAL B.V. Description: Netflix Monthly Subscription IBAN: LU810670006550194759 Reference: 39781733511470069 Mandate ID: DD-8105780623442533-1555-221231 Creditor ID: GB96NFXSDDCHAS00000041302392 Recurrent SEPA direct debit Value date: 03/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '105.44', '$id': 'a9b48c5d0a36c2db', '$createdAt': '2024-12-29T02:30:48.171+00:00', '$updatedAt': '2024-12-29T02:30:48.171+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': 'e37fca803b51fe36', 'date': '2024-12-02', 'recipient': 'Inikwo via Tikkie', 'currency': 0, 'amount': '-100.00', 'transactionType': 'iDEAL', 'transactionDetails': 'Name: Inikwo via Tikkie Description: 000935834758 0031898509791883 Ootjes NL02ABNA0624031594 IBAN: NL13ABNA0506417344 Reference: 02-12-2024 14:26 0031898509791883 Value date: 02/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '124.43', '$id': '45ddb1cced83217e', '$createdAt': '2024-12-29T02:30:48.340+00:00', '$updatedAt': '2024-12-29T02:30:48.340+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '2090f78ac8483f85', 'date': '2024-12-02', 'recipient': 'Oranje Spaarrekening', 'currency': 0, 'amount': '100.00', 'transactionType': 'Online Banking', 'transactionDetails': 'From Oranje spaarrekening K17737720 Value date: 02/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '224.43', '$id': '80130c7528b5e135', '$createdAt': '2024-12-29T02:30:48.499+00:00', '$updatedAt': '2024-12-29T02:30:48.499+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': 'fc550353bacd066f', 'date': '2024-12-02', 'recipient': 'Uber B.V.', 'currency': 0, 'amount': '5.61', 'transactionType': 'Transfer', 'transactionDetails': 'Name: Uber B.V. Description: TX1885278020XT Refund Uber IBAN: NL92ADYB2017400998 Reference: TX1885278020XT Value date: 02/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '124.43', '$id': '690e5904765bfd2a', '$createdAt': '2024-12-29T02:30:48.660+00:00', '$updatedAt': '2024-12-29T02:30:48.660+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '2b433c9257338b84', 'date': '2024-12-02', 'recipient': 'SANTANDER CONS FIN', 'currency': 0, 'amount': '-82.79', 'transactionType': 'SEPA direct debit', 'transactionDetails': 'Name: SANTANDER CONS FIN Description: 24-4427426 IBAN: NL22ABNA0487710150 Reference: RCUR20241122230658774000-244427426A Mandate ID: DUR24442742620230921010306 Creditor ID: NL81ZZZ300762840000 Recurrent SEPA direct debit Value date: 02/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '118.82', '$id': '00c6b95b941c18ca', '$createdAt': '2024-12-29T02:30:48.866+00:00', '$updatedAt': '2024-12-29T02:30:48.866+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '3b177715f6e26dce', 'date': '2024-12-01', 'recipient': 'Revolut**0411* Dublin IRL', 'currency': 0, 'amount': '-15.00', 'transactionType': 'Online Banking', 'transactionDetails': 'Card sequence no.: 901 30/11/2024 16:36 Transaction: P00115 Term: --- Google Pay Value date: 01/12/2024', 'icon': 0, 'userCurrency': 0, 'balance': '201.61', '$id': '7112fb9a8343a136', '$createdAt': '2024-12-29T02:30:49.031+00:00', '$updatedAt': '2024-12-29T02:30:49.031+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': 'c0e2ed26d7ada08b', 'date': '2024-11-30', 'recipient': 'Belastingdienst', 'currency': 0, 'amount': '-62.00', 'transactionType': 'Online Banking', 'transactionDetails': 'Name: Belastingdienst Description: 9228353572536013 IBAN: NL86INGB0002445588 Value date: 30/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '216.61', '$id': '1b88f63fc190aee4', '$createdAt': '2024-12-29T02:30:49.185+00:00', '$updatedAt': '2024-12-29T02:30:49.185+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '0488ede7b39e3991', 'date': '2024-11-30', 'recipient': 'Uber', 'currency': 0, 'amount': '-24.46', 'transactionType': 'iDEAL', 'transactionDetails': 'Name: Uber Description: KPB46BH7L9ZPSMX32G404 7180438206645906 Uber IBAN: NL04ADYB2017400157 Reference: 30-11-2024 11:24 7180438206645906 Value date: 30/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '278.61', '$id': '491ec360ff8bf40b', '$createdAt': '2024-12-29T02:30:49.331+00:00', '$updatedAt': '2024-12-29T02:30:49.331+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '281015988c8c61d8', 'date': '2024-11-30', 'recipient': 'E E Inikwo', 'currency': 0, 'amount': '-354.00', 'transactionType': 'Online Banking', 'transactionDetails': 'Name: E E Inikwo Description: Lights IBAN: NL69SNSB0928290468 Value date: 30/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '303.07', '$id': 'da6c6f1dba1aa2aa', '$createdAt': '2024-12-29T02:30:49.466+00:00', '$updatedAt': '2024-12-29T02:30:49.466+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '0c5809b3cc8719a4', 'date': '2024-11-29', 'recipient': 'Infomedics B.V.', 'currency': 0, 'amount': '-204.21', 'transactionType': 'iDEAL', 'transactionDetails': 'Name: Infomedics B.V. Description: 42246466485071 7030188218768246 42246466485071 IBAN: NL34ABNA0243240058 Reference: 29-11-2024 16:14 7030188218768246 Value date: 29/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '657.07', '$id': 'c174f82082f58500', '$createdAt': '2024-12-29T02:30:49.649+00:00', '$updatedAt': '2024-12-29T02:30:49.649+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': 'ad10710e945368dd', 'date': '2024-11-29', 'recipient': 'AnderZorg NV', 'currency': 0, 'amount': '-152.67', 'transactionType': 'SEPA direct debit', 'transactionDetails': 'Name: AnderZorg NV Description: Relatienummer 7234586100. December 2024. IBAN: NL87INGB0676416217 Reference: 10204906599 Mandate ID: 2434485 Creditor ID: NL55AND505444030000 Recurrent SEPA direct debit Value date: 29/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '861.28', '$id': 'e81d90edc0d10cb7', '$createdAt': '2024-12-29T02:30:49.791+00:00', '$updatedAt': '2024-12-29T02:30:49.791+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '8d3232f412f76ced', 'date': '2024-11-28', 'recipient': 'bol.com', 'currency': 0, 'amount': '-99.99', 'transactionType': 'iDEAL', 'transactionDetails': 'Name: bol.com Description: 1482936777 7051138200891894 bol.com A0-00-14-AE-A9 IBAN: NL27INGB0000026500 Reference: 28-11-2024 15:22 7051138200891894 Value date: 28/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '1013.95', '$id': 'c154602658ac5c0f', '$createdAt': '2024-12-29T02:30:50.009+00:00', '$updatedAt': '2024-12-29T02:30:50.009+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '552a9576abc067ae', 'date': '2024-11-28', 'recipient': 'Smullers Duivendrecht NLD', 'currency': 0, 'amount': '-7.65', 'transactionType': 'Payment terminal', 'transactionDetails': 'Card sequence no.: 901 27/11/2024 17:15 Transaction: C00100 Term: C3W802 Google Pay Value date: 28/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '1113.94', '$id': '142607e88a714da7', '$createdAt': '2024-12-29T02:30:50.175+00:00', '$updatedAt': '2024-12-29T02:30:50.175+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}


{'id': '507b5b21d907ab67', 'date': '2024-11-28', 'recipient': 'SalsaShop Bijlmerplein Amsterdam', 'currency': 0, 'amount': '-14.95', 'transactionType': 'Payment terminal', 'transactionDetails': 'Card sequence no.: 901 27/11/2024 12:27 Transaction: D00099 Term: 06427418 Google Pay Value date: 28/11/2024', 'icon': 0, 'userCurrency': 0, 'balance': '1121.59', '$id': 'ac442c087a7fa6eb', '$createdAt': '2024-12-29T02:30:50.324+00:00', '$updatedAt': '2024-12-29T02:30:50.324+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '6758d8910039a6caf2c7'}

In [43]:
display(df)

,id,date,recipient,currency,amount,transactionType,transactionDetails,icon,userCurrency,balance,$id,$createdAt,$updatedAt,$databaseId,$collectionId
0,56f8f9854e624a05,2024-12-05,AAB INZ TIKKIE,0,100.00,Transfer,Name: AAB INZ TIKKIE Description: Tikkie ID 00...,0,0,205.44,8e3f53f7eb11997e,2024-12-29T02:30:47.595+00:00,2024-12-29T02:30:47.595+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
1,6202b9a4a10f2ec5,2024-12-05,Revolut**0411* Dublin IRL,0,-150.00,Online Banking,Card sequence no.: 901 04/12/2024 20:43 Transa...,0,0,105.44,f50a54f185f81bae,2024-12-29T02:30:47.760+00:00,2024-12-29T02:30:47.760+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
2,8b5d11cd5ed972f9,2024-12-04,Oranje Spaarrekening,0,150.00,Online Banking,From Oranje spaarrekening K17737720 Value date...,0,0,255.44,2394c426b4fff577,2024-12-29T02:30:48.006+00:00,2024-12-29T02:30:48.006+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
3,dd34a898f82e5b8f,2024-12-03,NETFLIX INTERNATIONAL B.V.,0,-18.99,SEPA direct debit,Name: NETFLIX INTERNATIONAL B.V. Description: ...,0,0,105.44,a9b48c5d0a36c2db,2024-12-29T02:30:48.171+00:00,2024-12-29T02:30:48.171+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
4,e37fca803b51fe36,2024-12-02,Inikwo via Tikkie,0,-100.00,iDEAL,Name: Inikwo via Tikkie Description: 000935834...,0,0,124.43,45ddb1cced83217e,2024-12-29T02:30:48.340+00:00,2024-12-29T02:30:48.340+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
5,2090f78ac8483f85,2024-12-02,Oranje Spaarrekening,0,100.00,Online Banking,From Oranje spaarrekening K17737720 Value date...,0,0,224.43,80130c7528b5e135,2024-12-29T02:30:48.499+00:00,2024-12-29T02:30:48.499+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
6,fc550353bacd066f,2024-12-02,Uber B.V.,0,5.61,Transfer,Name: Uber B.V. Description: TX1885278020XT Re...,0,0,124.43,690e5904765bfd2a,2024-12-29T02:30:48.660+00:00,2024-12-29T02:30:48.660+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
7,2b433c9257338b84,2024-12-02,SANTANDER CONS FIN,0,-82.79,SEPA direct debit,Name: SANTANDER CONS FIN Description: 24-44274...,0,0,118.82,00c6b95b941c18ca,2024-12-29T02:30:48.866+00:00,2024-12-29T02:30:48.866+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
8,3b177715f6e26dce,2024-12-01,Revolut**0411* Dublin IRL,0,-15.00,Online Banking,Card sequence no.: 901 30/11/2024 16:36 Transa...,0,0,201.61,7112fb9a8343a136,2024-12-29T02:30:49.031+00:00,2024-12-29T02:30:49.031+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
9,c0e2ed26d7ada08b,2024-11-30,Belastingdienst,0,-62.00,Online Banking,Name: Belastingdienst Description: 92283535725...,0,0,216.61,1b88f63fc190aee4,2024-12-29T02:30:49.185+00:00,2024-12-29T02:30:49.185+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
10,0488ede7b39e3991,2024-11-30,Uber,0,-24.46,iDEAL,Name: Uber Description: KPB46BH7L9ZPSMX32G404 ...,0,0,278.61,491ec360ff8bf40b,2024-12-29T02:30:49.331+00:00,2024-12-29T02:30:49.331+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
11,281015988c8c61d8,2024-11-30,E E Inikwo,0,-354.00,Online Banking,Name: E E Inikwo Description: Lights IBAN: NL6...,0,0,303.07,da6c6f1dba1aa2aa,2024-12-29T02:30:49.466+00:00,2024-12-29T02:30:49.466+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
12,0c5809b3cc8719a4,2024-11-29,Infomedics B.V.,0,-204.21,iDEAL,Name: Infomedics B.V. Description: 42246466485...,0,0,657.07,c174f82082f58500,2024-12-29T02:30:49.649+00:00,2024-12-29T02:30:49.649+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
13,ad10710e945368dd,2024-11-29,AnderZorg NV,0,-152.67,SEPA direct debit,Name: AnderZorg NV Description: Relatienummer ...,0,0,861.28,e81d90edc0d10cb7,2024-12-29T02:30:49.791+00:00,2024-12-29T02:30:49.791+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
14,8d3232f412f76ced,2024-11-28,bol.com,0,-99.99,iDEAL,Name: bol.com Description: 1482936777 70511382...,0,0,1013.95,c154602658ac5c0f,2024-12-29T02:30:50.009+00:00,2024-12-29T02:30:50.009+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
15,552a9576abc067ae,2024-11-28,Smullers Duivendrecht NLD,0,-7.65,Payment terminal,Card sequence no.: 901 27/11/2024 17:15 Transa...,0,0,1113.94,142607e88a714da7,2024-12-29T02:30:50.175+00:00,2024-12-29T02:30:50.175+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7
16,507b5b21d907ab67,2024-11-28,SalsaShop Bijlmerplein Amsterdam,0,-14.95,Payment terminal,Card sequence no.: 901 27/11/2024 12:27 Transa...,0,0,1121.59,ac442c087a7fa6eb,2024-12-29T02:30:50.324+00:00,2024-12-29T02:30:50.324+00:00,6758d83b003553fc7077,6758d8910039a6caf2c7

In [44]:
# Convert 'date' to datetime and extract year, month, day
df['date'] = pd.to_datetime(df['date'])
df['day'], df['month'], df['year'] = df['date'].dt.day.astype(int), df['date'].dt.month_name(), df['date'].dt.year.astype(int)

# Convert 'amount' and 'balance' to userCurrency
df[['amount', 'balance']] = df.apply(
    lambda row: row[['amount', 'balance']].astype(float) * get_conversion_rate(row['currency'], row['userCurrency']),
    axis=1
)

# Convert 'amount' and 'balance' temporarily for calculations
df[['amount_num', 'balance_num']] = df[['amount', 'balance']].apply(pd.to_numeric, errors='coerce')

# Calculate monthlyBalance, monthlyExpenses, monthlySavings, and monthlyIncome
df['monthlyBalance'] = (
    df.sort_values('date', ascending=True)
    .groupby(['year', 'month'])['balance_num']
    .transform('last')
    .astype(str)
)

df['monthlyExpenses'] = (
    df.groupby(['year', 'month'])['amount_num']
    .transform(lambda x: x[x < 0].sum())
    .astype(str)
)

df['monthlySavings'] = (
    df.groupby(['year', 'month'])['amount_num']
    .transform(lambda x: x[df['recipient'].str.contains('Spaarrekening|Trade Republic', case=False, na=False)].sum())
    .astype(str)
)

df['monthlyIncome'] = (
    df.groupby(['year', 'month'])['amount_num']
    .transform(lambda x: x[x > 0].sum())
    .astype(str)
)

# Drop temporary numeric columns and unwanted columns
# df.drop(columns=['amount_num', 'balance_num', 'date_str'], inplace=True)
df["transactionId"] = df["id"]
df["monthlyInvestment"] = ""

df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")  # Adjust format as needed
# max_date = df["date"].max().strftime("%Y-%m-%d")
df["date"] = df["date"].astype(str)

df["amount"] = df["amount"].astype(str)


# Select the desired columns
df = df[['day', 'month', 'year', 'monthlyBalance', 'monthlyExpenses', 'monthlySavings', "monthlyInvestment", "transactionId", 'monthlyIncome', 'date', 'amount']]

In [45]:
display(df)

,day,month,year,monthlyBalance,monthlyExpenses,monthlySavings,monthlyInvestment,transactionId,monthlyIncome,date,amount
0,5,December,2024,205.44,-366.78000000000003,250.0,,56f8f9854e624a05,355.61,2024-12-05,100.0
1,5,December,2024,205.44,-366.78000000000003,250.0,,6202b9a4a10f2ec5,355.61,2024-12-05,-150.0
2,4,December,2024,205.44,-366.78000000000003,250.0,,8b5d11cd5ed972f9,355.61,2024-12-04,150.0
3,3,December,2024,205.44,-366.78000000000003,250.0,,dd34a898f82e5b8f,355.61,2024-12-03,-18.99
4,2,December,2024,205.44,-366.78000000000003,250.0,,e37fca803b51fe36,355.61,2024-12-02,-100.0
5,2,December,2024,205.44,-366.78000000000003,250.0,,2090f78ac8483f85,355.61,2024-12-02,100.0
6,2,December,2024,205.44,-366.78000000000003,250.0,,fc550353bacd066f,355.61,2024-12-02,5.61
7,2,December,2024,205.44,-366.78000000000003,250.0,,2b433c9257338b84,355.61,2024-12-02,-82.79
8,1,December,2024,205.44,-366.78000000000003,250.0,,3b177715f6e26dce,355.61,2024-12-01,-15.0
9,30,November,2024,216.61,-919.9300000000001,0.0,,c0e2ed26d7ada08b,0.0,2024-11-30,-62.0
10,30,November,2024,216.61,-919.9300000000001,0.0,,0488ede7b39e3991,0.0,2024-11-30,-24.46
11,30,November,2024,216.61,-919.9300000000001,0.0,,281015988c8c61d8,0.0,2024-11-30,-354.0
12,29,November,2024,216.61,-919.9300000000001,0.0,,0c5809b3cc8719a4,0.0,2024-11-29,-204.21
13,29,November,2024,216.61,-919.9300000000001,0.0,,ad10710e945368dd,0.0,2024-11-29,-152.67
14,28,November,2024,216.61,-919.9300000000001,0.0,,8d3232f412f76ced,0.0,2024-11-28,-99.99
15,28,November,2024,216.61,-919.9300000000001,0.0,,552a9576abc067ae,0.0,2024-11-28,-7.65
16,28,November,2024,216.61,-919.9300000000001,0.0,,507b5b21d907ab67,0.0,2024-11-28,-14.95

In [24]:
df = df.sort_values(by="date", ascending=True)

In [ ]:
display(df)

In [200]:
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")  # Adjust format as needed
max_date = df["date"].max().strftime("%Y-%m-%d")

In [ ]:
pp = df["date"].astype(str)

In [ ]:
print(type(pp[0]))

In [ ]:
print(max_date)

In [ ]:
print( "2024-12-05" < "2024-12-01")

In [150]:
# Keep the original date as a string
df['date_str'] = df['date']

# Convert the date column to datetime for calculations
df['date'] = pd.to_datetime(df['date'])

# Extract year, month, and day from the date column
df['date'] = pd.to_datetime(df['date'])
df['day'] = df['date'].dt.day.astype(int)  # Convert day to integer
df['month'] = df['date'].dt.month_name()
df['year'] = df['date'].dt.year.astype(int)  # Convert year to integer

# Add the conversion to the userCurrency for amount data
df['amount'] = df.apply(
    lambda row: float(row['amount']) * get_conversion_rate(row['currency'], row['userCurrency'])
    if pd.notnull(row['amount']) else None, axis=1)

# Add the conversion to the userCurrency for balance data
df['balance'] = df.apply(
    lambda row: float(row['balance']) * get_conversion_rate(row['currency'], row['userCurrency'])
    if pd.notnull(row['balance']) else None, axis=1)

# Convert amount and balance temporarily for calculations
df['amount_num'] = pd.to_numeric(df['amount'], errors='coerce')
df['balance_num'] = pd.to_numeric(df['balance'], errors='coerce')

# Calculate monthlyBalance (latest balance of the month)
df['monthlyBalance'] = df.sort_values('date', ascending=True).groupby(['year', 'month'])['balance_num'].transform('last').astype(str)

# Calculate total monthlyExpenses (sum of all negative amounts)
df['monthlyExpenses'] = df.groupby(['year', 'month'])['amount_num'].transform(
    lambda x: x[x < 0].sum()
).astype(str)

# Calculate total monthlySavings (sum of amounts with specific recipients)
df['monthlySavings'] = df.groupby(['year', 'month'])['amount_num'].transform(
    lambda x: x[
        df['recipient'].str.contains('Spaarrekening|Trade Republic', case=False, na=False)
    ].sum()
).astype(str)

# Calculate total monthlyIncome (sum of all positive amounts)
df['monthlyIncome'] = df.groupby(['year', 'month'])['amount_num'].transform(
    lambda x: x[x > 0].sum()
).astype(str)

# Drop temporary numeric columns
df.drop(columns=['amount_num', 'balance_num'], inplace=True)

# Rename 'date_str' back to 'date' to keep the original format
df['date'] = df['date_str']
df.drop(columns=['date_str'], inplace=True)

# Select the desired columns
df = df[['currency', 'userCurrency', 'id', 'date', 'recipient', 'currency', 'amount',
         'transactionDetails', 'balance', 'day', 'month',
         'year', 'monthlyBalance', 'monthlyExpenses', 'monthlySavings', 'monthlyIncome']]

In [ ]:
display(df)

In [ ]:
df.to_dict()

In [ ]:
display(df)

In [47]:
import secrets
import requests
import pandas as pd
from appwrite.client import Client
from appwrite.services.databases import Databases

from database.deps import createAdminClient, DATABASE_ID, CURRENCY_COLLECTION_ID


# Initialize Appwrite Client
client = createAdminClient()
db = Databases(client)


# Dictionary of currencies
currency = {"EUR": 0, "KRW": 1, "KES": 2, "GBP": 3, "USD": 4}

# API base URL
api_url = "https://hexarate.paikama.co/api/rates/latest"

# Initialize the exchange rate table
currencies = list(currency.keys())
exchange_table = pd.DataFrame(index=currencies, columns=currencies)

# Fetch exchange rates and populate the table
for base in currencies:
    for target in currencies:
        if base == target:
            exchange_table.loc[base, target] = 1.0  # Same currency exchange rate is 1
        else:
            # Call Hexarate API
            response = requests.get(f"{api_url}/{base}?target={target}")
            if response.status_code == 200:
                response_data = response.json()
                rate = response_data.get("data", {}).get("mid")  # Extract 'mid' from 'data'
                exchange_table.loc[base, target] = rate
            else:
                exchange_table.loc[base, target] = None  # Mark as None if request fails

exchange_table.to_csv("exchange_rates.csv")

# Save or update exchange rates in Appwrite database
for base in currencies:
    for target in currencies:
        rate = exchange_table.loc[base, target]
        if rate is not None:  # Only process valid rates
            document_data = {
                "base": base,
                "target": target,
                "rate": rate
            }

            # Check if the document already exists
            query = [
                Query.equal('base', base),
                Query.equal('target', target)
            ]
            try:

                existing_documents = db.list_documents(
                    database_id=DATABASE_ID,
                    collection_id=CURRENCY_COLLECTION_ID,
                    queries=query
                ).get("documents", [])

                if existing_documents:
                    # Update the existing document
                    document_id = existing_documents[0]["$id"]
                    db.update_document(
                        database_id=DATABASE_ID,
                        collection_id=CURRENCY_COLLECTION_ID,
                        document_id=document_id,
                        data=document_data
                    )
                    print(f"Updated rate {base} to {target}: {rate}")
                else:
                    # Create a new document
                    db.create_document(
                        database_id=DATABASE_ID,
                        collection_id=CURRENCY_COLLECTION_ID,
                        document_id=secrets.token_hex(8),  # Auto-generate unique document IDs
                        data=document_data
                    )
                    print(f"Created rate {base} to {target}: {rate}")
            except Exception as e:
                print(f"Error processing rate {base} to {target}: {e}")

Updated rate EUR to EUR: 1.0
Updated rate EUR to KRW: 1536.67
Updated rate EUR to KES: 134.971
Updated rate EUR to GBP: 0.82927
Created rate EUR to USD: 1.04265
Updated rate KRW to EUR: 0.000650727
Updated rate KRW to KRW: 1.0
Updated rate KRW to KES: 0.0878377
Updated rate KRW to GBP: 0.000539578
Created rate KRW to USD: 0.000678546
Updated rate KES to EUR: 0.00740864
Updated rate KES to KRW: 11.3839
Updated rate KES to KES: 1.0
Updated rate KES to GBP: 0.00614411
Created rate KES to USD: 0.00772499
Updated rate GBP to EUR: 1.20585
Updated rate GBP to KRW: 1852.81
Updated rate GBP to KES: 162.757
Updated rate GBP to GBP: 1.0
Created rate GBP to USD: 1.2573
Created rate USD to EUR: 0.95885
Created rate USD to KRW: 1473.85
Created rate USD to KES: 129.45
Created rate USD to GBP: 0.795039
Created rate USD to USD: 1.0

In [1]:
import os
os.chdir("/Users/sginikwo/goldy-personal/co-finance-backend")

In [19]:
from database.deps import createAdminClient, DATABASE_ID, TRANSACTIONSUMMARY_COLLECTION_ID
from appwrite.services.databases import Databases
from appwrite.permission import Permission
from appwrite.role import Role
from models.send.transactionSummary_data import custom_summary, get_insert_data
from database.transaction_dao import TransactionDao
import secrets
from appwrite.query import Query
import pandas as pd


client = createAdminClient()
db = Databases(client)

class Summary:
  def __init__(self):
    self.db_id = DATABASE_ID
    self.collection_id = TRANSACTIONSUMMARY_COLLECTION_ID

  
  def get_summary(self, user_data=None):
    result = db.list_documents(
      database_id = self.db_id,
      collection_id = self.collection_id,
      queries=[
                Query.order_desc("date"),  # Sort by "name" in ascending order
            ]
    )
    for rsul in result["documents"]:
      rsul.pop("userId", None)
      rsul.pop('$permissions', None)

    return result['documents']

  def get_custom_summary(self):
    transactions = self.get_summary()

    response = custom_summary(transactions)
    return response
  
  def push_data(self):
    transactions = TransactionDao().get_transactions(user_data="67618a6b0015560030e5")

    data = get_insert_data(transactions)

    exist_summary = self.get_summary()

    for row in data:
      if exist_summary:
        results = [(entry['date'], entry['$id']) for entry in exist_summary]

        for result in results:
          if result[0] == row["date"]:

            db.update_document(
                database_id= self.db_id,
                collection_id= self.collection_id,
                document_id= result[1],
                data=row,
                permissions=[
                    Permission.read(Role.user("67618a6b0015560030e5")),
                    Permission.update(Role.user("67618a6b0015560030e5")),
                    Permission.delete(Role.user("67618a6b0015560030e5"))
                ]
            )
      else:
        db.create_document(
          database_id= self.db_id,
          collection_id= self.collection_id,
          document_id=secrets.token_hex(8),
          data=row,
          permissions=[
              Permission.read(Role.user("67618a6b0015560030e5")),
              Permission.update(Role.user("67618a6b0015560030e5")),
              Permission.delete(Role.user("67618a6b0015560030e5"))
          ]
        )
    

    return transactions
  

summary = Summary()

summary.push_data()
# print(summary.get_custom_summary())

[{'id': '7bc4f09314227bd2',
  'date': '2024-12-05',
  'recipient': 'AAB INZ TIKKIE',
  'currency': 0,
  'amount': '100.00',
  'transactionType': 'Transfer',
  'transactionDetails': 'Name: AAB INZ TIKKIE Description: Tikkie ID 000937426748, Goldy, Van AE INIKWO, NL02ABNA0624031594 IBAN: NL13ABNA0506417344 Reference: 937426748 Date/time: 05-12-2024 15:42:36 Value date: 05/12/2024',
  'icon': 0,
  'userCurrency': 0,
  'balance': '205.44',
  '$id': 'ff9d99c85e87f907',
  '$createdAt': '2024-12-28T19:32:45.997+00:00',
  '$updatedAt': '2024-12-28T19:32:45.997+00:00',
  '$databaseId': '6758d83b003553fc7077',
  '$collectionId': '6758d8910039a6caf2c7'},
 {'id': '9f5a15d3f6416fc6',
  'date': '2024-12-01',
  'recipient': 'OMWARE GLO',
  'currency': 1,
  'amount': '-1100000',
  'transactionType': '안양법',
  'transactionDetails': '모바일',
  'icon': 0,
  'userCurrency': 0,
  'balance': '1259346',
  '$id': '73b7a0e7b90a193d',
  '$createdAt': '2024-12-24T01:45:07.643+00:00',
  '$updatedAt': '2024-12-24T01:45:07.643+00:00',
  '$databaseId': '6758d83b003553fc7077',
  '$collectionId': '6758d8910039a6caf2c7'},
 {'id': '4a487848aec47a8f',
  'date': '2019-11-08',
  'recipient': 'Auth *3200',
  'currency': 3,
  'amount': '1.00',
  'transactionType': 'TOPUP',
  'transactionDetails': 'Auth *3200',
  'icon': 0,
  'userCurrency': 0,
  'balance': '0',
  '$id': 'ba71f8a73b5670c1',
  '$createdAt': '2024-12-24T01:45:17.783+00:00',
  '$updatedAt': '2024-12-24T01:45:17.783+00:00',
  '$databaseId': '6758d83b003553fc7077',
  '$collectionId': '6758d8910039a6caf2c7'}]

In [ ]:
# Ensure date column is datetime
df['date'] = pd.to_datetime(df['date'])

# Get latest month's data
latest_month = df['date'].max().month
latest_year = df['date'].max().year
latest_data = df[(df['date'].dt.month == latest_month) & (df['date'].dt.year == latest_year)]

# Extract balance, expenses, and savings
latest_summary = latest_data[['monthlyBalance', 'monthlyExpenses', 'monthlySavings']].drop_duplicates()

latest_summary.to_dict(orient='records')

In [ ]:
display(dd)

In [ ]:
!pwd

In [ ]:
data = [
    {'day': 5, 'month': 'December', 'year': 2024, 'monthlyBalance': '20544.0', 'monthlyExpenses': '-719.1932', 'monthlySavings': '0.0', 'monthlyInvestment': '', 'transactionId': '9fbd609943048a8b', 'monthlyIncome': '100.0', 'date': '2024-12-05', '$id': '7f987a37ee81891c', '$createdAt': '2024-12-28T14:38:23.979+00:00', '$updatedAt': '2024-12-28T14:38:23.979+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '676dcdf30020bde2a475'},
    {'day': 1, 'month': 'December', 'year': 2024, 'monthlyBalance': '20544.0', 'monthlyExpenses': '-719.1932', 'monthlySavings': '0.0', 'monthlyInvestment': '', 'transactionId': '9f5a15d3f6416fc6', 'monthlyIncome': '100.0', 'date': '2024-12-01', '$id': 'aa9b71a38edc1428', '$createdAt': '2024-12-28T14:38:24.107+00:00', '$updatedAt': '2024-12-28T14:38:24.107+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '676dcdf30020bde2a475'},
    {'day': 8, 'month': 'November', 'year': 2019, 'monthlyBalance': '0.0', 'monthlyExpenses': '0.0', 'monthlySavings': '0.0', 'monthlyInvestment': '', 'transactionId': '4a487848aec47a8f', 'monthlyIncome': '1.20201', 'date': '2019-11-08', '$id': '0832a315dab3519a', '$createdAt': '2024-12-28T14:38:24.254+00:00', '$updatedAt': '2024-12-28T14:38:24.254+00:00', '$databaseId': '6758d83b003553fc7077', '$collectionId': '676dcdf30020bde2a475'}
]

# Extracting date and $id as tuples
result = [(entry['date'], entry['$id']) for entry in data]

print(result)

In [ ]:
for date in result:
  print(date[0])